

.component{
    
    padding-left: 35px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-color: #408BC9;
}

.clusterHeader{
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 20px;
    background-color: #35558e;
    margin: 0;
}

.running{
    color: #085208;
    font-weight: bold;
    background-color: #d3f9d3;
    padding: 5px;
    text-transform: capitalize;
}


.shutting-down{
    color: #a00505;
    font-weight: bold;
    background-color: #e89e9e;
    padding: 5px;
    text-transform: capitalize;
}

.terminated{
    color: #bb7205;
    font-weight: bold;
    background-color: #daa4539e;
    padding: 5px;
    text-transform: capitalize;
}
